﻿
._left {
    text-align: left;
}

/*paginate style*/
.page {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 510px;
}

.light-theme a, .light-theme span {
    font-size: 18px;
    line-height: 1.7em;
    border-radius: 5px;
}

.light-theme .current {
    background-color: #39ADB4;
    border-color: #E9E8E8;
}

.light-theme > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
