/*

Visual Admin Template
http://www.templatemo.com/preview/templatemo_455_visual_admin

TABLE OF CONTENT
	1. Universal Styles
	2. Left Column
	3. Right Column
	4. Charts & Maps
	5. Login
	6. Manage Users
	7. Preferences
	8. Media Queries
----------------------------------------------*/
/* 1. Universal Styles
----------------------------------------------*/
* {	font-family: 'Microsoft JhengHei', sans-serif; }
body {	font-size: 15px; padding:0;}
body, .templatemo-left-nav { background: #2f4050; }
h1, h2, h3 { margin: 0; }
h2 { font-size: 1.6em; }
h3 {
	color: #7f7f7f;
	font-size: 1.4em;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover, a:visited, a:active { text-decoration: none; }
nav li {
	font-size: 1.1em;
	list-style: none;	
	text-transform: uppercase;
}

#mainp {
    transition: margin-left .5s;
	margin-left:200px;
	width:100%;
}

.templatemo-inline-block {
	display: inline-block;
	vertical-align: middle;
}
.templatemo-block {	display: block; }
.templatemo-position-relative {	position: relative; }
.blue-text { color: #39ADB4; }
.white-text { color: white; }
.green-bg {	background-color: #39ADB4; }
.yellow-bg { background-color: #D8D138; }
.white-bg {	background-color: white; }
.white-bg .fa-times { background-color: #d7d7d7; }
.white-bg .fa-times:hover {	background: #83ccd1; }
.orange-bg {
	background-color: #F17A54;
	color: white;
}
.orange-bg .fa-times {	background-color: #F0A790; }
.orange-bg .fa-times:hover { background-color: #E14311; }
.pink-bg {
	background-color: #D7425C;
	color: white;
}
.pink-bg .fa-times { background-color: #E57C8F;	}
.pink-bg .fa-times:hover { background-color: #BD1F3B; }
.blue-bg {
	background-color: #3275BB;
	color: white;
}
.blue-bg .fa-times { background-color: #6792C0; }
.blue-bg .fa-times:hover { background-color: #2C639C; }
.light-gray-bg { background-color: #fff; }
.login-bg { background:url(../images/title_bg.png) #2f4050; padding-top:50px; }
.padding-right-25 {	padding-right: 25px; }
.margin-bottom-0 {	margin-bottom: 0; }
.margin-bottom-5 {	margin-bottom: 5px; }
.margin-bottom-10 {	margin-bottom: 10px; }
h2.margin-bottom-10 { color:#289aa1;}
.margin-bottom-30 {	margin-bottom: 30px; }
.margin-bottom-70 {	margin-bottom: 70px; }
.margin-right-15 { margin-right: 15px; }
.margin-10 { margin: 10px; }
.width-100 { width: 100%; }
.no-border { border: none; }
.border-radius-10 { border-radius: 10px; }
footer { padding: 15px; }

/* 2. 左選單
-----------------------------*/
.templatemo-sidebar {
	height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
	background:url(../images/left_bg.jpg) #111;
    overflow-x: hidden; 
    padding-top: 40px; 
    transition: 0.5s; }

.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.templatemo-site-header { margin:0; text-align:center; }
.templatemo-site-header h1 {
	color: white;
	display: inline-block;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1.5px;
	margin: 0 5px;	
	text-transform: uppercase;
	vertical-align: middle;
}
.profile-photo-container { position: relative; }


/* Search form */
.templatemo-search-form {
	font-size: 1.1em;
	margin: 50px 20px;		
}
.templatemo-search-form .input-group { width: 100%; }
.templatemo-search-form .input-group .form-control {
	background-color: #131e28;
	border: none;
	border-radius: 10px;
	color: #DDD;
	padding-left: 20px;
}
.form-control:focus {
  border-color: #13895F;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(19,137,95,.075),0 0 8px rgba(19,137,95,.6);
}
.form-control.highlight {
	background-color: #39ADB4;
	color: white;
}
.form-control.highlight::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
.form-control.highlight:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
.form-control.highlight::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
.form-control.highlight:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}
.templatemo-search-form .input-group { position: relative; }

.mobile-menu-icon { 
	cursor:pointer;
	display:none; 
}
.templatemo-left-nav li { font-weight: 300; border-bottom: 1px solid #586572;}
.templatemo-left-nav a.active,
.templatemo-left-nav a:hover {
	background: #131e28;
	border-left: 8px solid #13895F;
}

.nav>li>a:focus, .nav>li>a:hover{background: #131e28;}
.templatemo-left-nav a {
	color: #e9e9ea;
	display: block;
	padding: 20px;
	transition: all 0.3s ease;
}
.templatemo-left-nav .fa { margin-right: 5px; }


/* Sidebar Menu Styles */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li{
    border-bottom: none !important;
}
.nav-second-level li a {
    padding-left: 20px;
	font-size:0.9em;
	background:#22303c;
	border-bottom:1px solid #131e28;
}
.nav-second-level li a:before{
	content: ">> ";
}
.nav-second-level li .active{
	background:#101417;
}

/* 3. Right Column
------------------------------*/
.templatemo-top-nav-container {
	background-color: #efefef;
	padding:0;
	
}
.templatemo-top-nav-container .row{margin-right:0;}
.templatemo-top-nav{
	white-space: nowrap; 
    width: 100%;
	font-size: 0px;
} 
.templatemo-top-nav li {
	display: inline-block; 
    list-style: none;
	margin-right:1px;
	padding:0;
	background: #8bb5b7; /* Old browsers */
	background: -moz-linear-gradient(45deg, #8bb5b7 0%, #9bc6c8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #8bb5b7 0%,#9bc6c8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #8bb5b7 0%,#9bc6c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb5b7', endColorstr='#9bc6c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-size:15px;
}
.templatemo-top-nav a {
    display: block;
	padding:3px 6px;
	color:#fff;
	text-align:center;
}
.templatemo-top-nav p{padding:0; margin:0;}
.templatemo-top-nav li:last-child a { }
.templatemo-top-nav a:hover,
.templatemo-top-nav a.active {
	color: #c8ec79;
	background-color:#579194;
}
.templatemo-top-nav img{height:40px; width:auto; margin:3px 0;}

/* Main Content Area */
.templatemo-content {
  margin-top: 0px;
  min-height: 600px;
  padding: 0;
}
.templatemo-content-container {	padding: 10px;}
.templatemo-flex-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.col-1 {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.col-2 {
	-webkit-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

/* Content Widget */
.templatemo-content-widget {
	border-radius: 10px;
	padding: 20px;	
	position: relative;
	margin: 10px;
 	box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.3);
}
.templatemo-content-widget.no-padding {	padding: 0; }
.fa-times {
	border-radius: 15px;
  	color: white;
  	cursor: pointer;
	padding: 4px 5px;
  	position: absolute;
  	top: 15px;
  	right: 15px;
  	z-index: 100;
  	transition: all 0.3s ease;
}
.fa-heart {
  color: white;
  cursor: pointer;
  font-size: 1.4em;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  transition: all 0.3s ease;
}
.fa-heart:hover { color: #39ADB4; }
.progress {	display: block; }
.panel-default>.panel-heading {
	background-color: #39ADB4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	padding: 10px;
}
.panel-default>.panel-heading>h2{ padding:0; margin:0; font-size:18px;}
.panel-default .fa-times {
	top: 12px;
	background-color: #67B5B9;
}
.panel-default .fa-times:hover { background-color: #297B7F;	}
.panel { /*border-radius: 10px;*/ }
.pagination{ margin:0;}
.pagination-wrap {
	text-align: right;
	margin-right: 5px;
}
.pagination>li>a {
	border-color: #E9E8E8;
	color: #a6a6a6;
	margin: 2px;
	padding: 5px 10px;	
}
.pagination>li>a,
.pagination>li:first-child>a,
.pagination>li:last-child>a {
	border-radius: 5px;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover {
	background-color: #39ADB4;
	border-color: #E9E8E8;
}
.table { margin-bottom: 0;  }
.table>tbody>tr>td { padding: 2px 3px; vertical-align: middle;}
.table>thead>tr>td { padding: 3px 5px; }
.media { margin-top: 0; }
.media-body { vertical-align: middle; }
.badge {
	background-color: #d6973d;
	border-radius: 5px;
	margin-left: 5px;
	padding: 5px 10px;
	vertical-align: top;
}
.templatemo-img-bordered {
	border: 1px solid #ccc;
	padding: 3px;
}


/* 4. Charts & Maps - http://codepen.io/shoogledesigns/pen/BfLkA
----------------------------------------------------------------*/
.templatemo-chart {
	width: 100%;
	height: 300px;
}
#timeline_div {	height: auto; }

/* JQVMap */
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}
.vmap { height: 300px; }

/* 5. Login------------------------------*/
.templatemo-login-widget {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding:30px 50px 50px 50px;
}
.templatemo-login-widget .square {
	width: 18px;
	height: 18px;
}
.templatemo-login-widget header { margin-bottom: 40px; }
.templatemo-login-widget h1 {
	display: inline-block;
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.templatemo-login-form{margin-top:10px;}
.templatemo-login-form .form-group { margin-bottom: 7px; }
.input-group-addon { background: none; }
.btn{padding: 3px 10px; font-size:15px;}
.btn-darkblue {
	border-radius: 2px;
	background-color: #1c6989;
	border: none;
	color: white;}
.btn-darkblue:hover, .btn-darkblue:visited{
	background-color: #104f69;color:#fff;}
.btn-primary {
	border-radius: 2px;
	background-color: #39ADB4;
	border: none;	
	color: white;	
}
.btn-primary:hover { background-color: #2A858B; }
.templatemo-blue-button, 
.templatemo-white-button {
	border-radius: 2px;
	padding: 3px 8px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.templatemo-blue-button {
	background-color: #39ADB4;
	border: none;	
	color: white;	
}
.templatemo-blue-button:hover {	background-color: #2A858B; }
.templatemo-white-button {
	background-color: white;
	border: 1px solid #39ADB4;	
	color: #39ADB4;	
}
.templatemo-white-button:hover { background-color: #eff2f3;	}
.templatemo-register-widget {
	max-width: 450px;
	padding: 15px;
	text-align: center;
}
.templatemo-register-widget p {	margin-bottom: 0; }
.checkbox label { padding-left: 0; }
.font-weight-400 { font-weight: 400; }
@media (min-width: 768px){
label {
	display:inline-block; min-width:150px; text-align:right;
}
.table label{min-width:auto;}
}

/* Style checkboxes and radio buttons
http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type="checkbox"] {  display:none; }
input[type="checkbox"] + label span {
    display:inline-block;
    width:26px;
    height:25px;
    margin:-1px 4px 0 10px;
    vertical-align:middle;
    background:url(../images/checkbox-radio-sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox-radio-sheet.png) -26px top no-repeat;
}
input[type="checkbox"] + label span.add {
    background:url(../images/checkbox-add.png) left top no-repeat;
}
input[type="radio"] { display:none; }
input[type="radio"] + label span {
    display:inline-block;
    width:26px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox-radio-sheet.png) -52px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(../images/checkbox-radio-sheet.png) -78px top no-repeat;
}

/* 6. Manage Users
------------------------------*/
.templatemo-sort-by:hover {	color: #ded9d9; }
.templatemo-edit-btn {
	border: 1px solid #ddd;
	border-radius: 3px;
	color: black;
	padding: 5px 15px;
	transition: all 0.3s ease;
}
.templatemo-edit-btn:hover {
	background-color: #39ADB4;
	border: 1px solid #39ADB4;
	color: white;
}
.templatemo-link { color: black; }
.templatemo-link:hover { color: #39ADB4; }
.templatemo-overflow-hidden { overflow: hidden; }
.templatemo-user-table thead, .templatemo-user-table th {
	background-color: #39ADB4;
	color: white;
	
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{ border-bottom-width: 1px;}
.templatemo-user-table tr:first-child{border-top:0;}
.templatemo-user-table{border-radius: 5px; margin-bottom:10px;text-align:center;}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.panel>.table:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.templatemo-social-icons-container {
	background-color: #f4f3f3;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #dedede;
}
.social-icon-wrap {
	width: 33%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.social-icon-wrap:nth-child(2) {
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
.templatemo-social-icon {
	background-color: #a6a6a6;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	padding-top: 8px;
	width: 35px;
	height: 35px;
	transition: all 0.3s ease;
}
.templatemo-social-icon:hover {	background-color: #39ADB4; }
.templatemo-content-img-bg {
	background-position: center;
	background-attachment: stretch;
	min-height: 300px;
}
.content-bg-img {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.view-img-btn-wrap {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	text-align: center;
}
.templatemo-view-img-btn {
	background-color: #f4f3f3;	
	border: none;
	border-radius: 5px;
	color: #a6a6a6;
	padding: 10px 50px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.templatemo-view-img-btn:hover {
	background-color: #39ADB4;
	color: white;
}

/* 7. Preferences
-------------------------------*/
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, 
.has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, 
.has-success.radio label, .has-success.radio-inline label {
	color: #13895F;
}
.has-success .form-control { border-color: #13895F; }
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, 
.has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, 
.has-warning.radio label, .has-warning.radio-inline label {
	color: #CF922C;
}
.has-warning .form-control { border-color: #CF922C; }
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, 
.has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, 
.has-error.radio label, .has-error.radio-inline label {
	color: #D7425C;
}
.has-error .form-control { border-color: #D7425C; }
/*麵包屑*/
.breadcrumb{ background-color:transparent; margin-bottom:5px; padding:0;}
/*流程Style
-------------------------------- */
.wizard{margin:0 0 10px 0; font-size:16px;}
.wizard li {padding: 10px 25px 8px 47px; margin-right:5px; background:#e1e1e1; color:#666;margin-bottom:5px; position:relative; display:inline-block; line-height:26px; }
.wizard li:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 24px inset transparent; border-left: 24px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard li:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 24px inset transparent; border-left: 24px solid #e1e1e1; position: absolute; content: ""; top: 0; right: -23px; z-index:2;}
.wizard li:hover{ text-decoration:none; background-color:#60a748; color:#fff; cursor:pointer;}
.wizard li:hover:after  {border-left:24px solid #60a748; color:#fff;}

.wizard a:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:4px 0 0 4px;}
.wizard a:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px; background:#3f8228;}
.wizard a:first-child .badge {margin-left:0;}

.wizard .current {background:#88c673; color:#fff;}
.wizard .current:after {border-left-color:#88c673;}

/*callout*/
.bs-callout{
    padding: 0;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
	position:relative;
	min-height:80px;
}
.bs-callout2 {
    padding: 0;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
	position:relative;
}
.bs-callout h3{ position:absolute; display:inline-block; font-weight:bold; background-color:#eee; color:#26989f; font-size:15px; width:28px; height:100%; text-align:center; line-height:15px; vertical-align:middle; }
.bs-callout2 h3{position:absolute; display:inline-block; font-weight:bold; background-color:#f8e9e8; color:#ce4844; font-size:18px; width:50px; height:100%; text-align:center; line-height:22px; vertical-align:middle;}
.bs-callout .rowform{ padding:10px 10px 0 10px; margin-left:40px;}
.bs-callout2 .rowform{ padding:0; margin-left:50px;}
.bs-callout .form-group{ padding-bottom:0; margin-right:20px;}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-info h4 {color: #1b809e;}
.bs-callout-warning h4{color:#aa6708;}
.bs-callout-danger h4{color:#ce4844;}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.REDWD_b{ color:#C00;}
/*form*/
.form-control, input[type="text"]{padding: 3px 8px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select::-ms-expand {
            width:12px;
            border:none;
            background:none;
}
.form-style-10{
	padding:0 30px;
	margin:0 auto;
}
.form-style-10 .inner-wrap{
	padding: 10px 20px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font-size: 22px;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 .section{
	color: #2A88AD;
	margin-bottom: 5px;
	font-size:16px;
	font-weight:700;
}
.form-style-10 .section span{
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -35px;
	color: #fff;
	margin-top: -3px;
}
span.section{
	background: #2A88AD;
	padding: 3px 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-size: 13px;
	color: #fff;
}

.paytable{width:100%;}
.paytable th{ text-align:right;}
.paytable td{ width:150px; padding:2px 0 2px 20px;}
.paytable hr{     margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #8c8b8b;}

/*error*/
.error{ }
.error>i{font-size:6em; color:#C00;}
.nu{font-size:3em;line-height:1em; color:#666;}

/*login*/
.login{ color:#fff; padding:5px; background-color:#5f9b9e;}
.login p{ padding:0; margin-bottom:5px;}
.login .btn{ padding:0px 6px;}

/*開啟*/
.openicon{dispaly:black; background-color:#999; color:#036;height:40px;font-size:15px;}
.openicon i{font-size: 1.4em; color:#fffe86; margin-top:5px;vertical-align:middle;}
/* 關閉選單*/
.closebtn {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 17px;
	color:#fff;	
}
.closebtn:hover, .closebtn:focus{color:#61c8ff;}
.closebtn i {
	font-size: 1.2em;
	color:#30c1db;
	margin-left:5px;vertical-align:middle;
}
.closebtn i:hover, .closebtn i:focus{color:#1caac4;}