﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="city" runat="server"></asp:TextBox>
        <asp:TextBox ID="area" runat="server"></asp:TextBox>
        <asp:TextBox ID="addr" runat="server" Width="244px"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    </div>
        <p>
            <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Button" />
            <asp:TextBox ID="password" runat="server" Width="241px"></asp:TextBox>
            <asp:TextBox ID="password0" runat="server" Width="174px"></asp:TextBox>
        </p>
    </form>
</body>
</html>
