﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ImageView2.aspx.cs" Inherits="ImageView2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DownLoad</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .lb_set{font-size:12pt;color:#777;font-weight:bold;}
        </style>
</head>
<body>
    <form id="form1" runat="server">

        <div style="overflow: auto; height: auto; width:auto;vertical-align: top;">
            <div id ="Div1" runat="server" style="display:none; color:black; font-weight:bolder;font-size:18px;">紙本簽收單</div>
            <div id ="Div2" runat="server" style="display:none; color:black; font-weight:bolder;font-size:18px;">電子簽收單</div>
            <div id ="Div3" runat="server" style="display:none; color:black; font-weight:bolder;font-size:18px;">尚未有簽收單</div>
            <div id ="Div4" runat="server" style="display:none; color:black; font-weight:bolder;font-size:18px;">尚未有簽收單</div>
          <%--  <div id ="Div3" runat="server" style="display:none;color:black; font-weight:bolder;font-size:18px;">紙本簽收單</div>--%>
          <%--  <asp:Image ID="Image1" runat="server" />--%>
            <img id="imgSample" runat="server" alt="尚未有簽收單"  ClientIDMode="Static" src="" style="max-width:70%"  />
        </div>
        <%--<div style="overflow: auto; height: auto; width:auto;vertical-align: top;">
            <div id ="Div2" runat="server" style="display:none;color:black;font-weight:bolder;font-size:18px;">紙本簽收單</div>
            <asp:Image ID="Image2" runat="server" />
            <img id="imgSample2" runat="server" alt="簽收單"  ClientIDMode="Static" src="" style="max-width:70%" />
        </div>--%>
        <%--<div style="overflow: auto; height: auto; width:auto;vertical-align: top;">
            <asp:Image ID="Image3" runat="server" />
            <img id="imgSample3" runat="server" alt="簽收單"  ClientIDMode="Static" src="" style="max-width:70%" />
        </div>
         <div style="overflow: auto; height: auto; width:auto;vertical-align: top;">
            <asp:Image ID="Image4" runat="server" />
            <img id="imgSample4" runat="server" alt="簽收單"  ClientIDMode="Static" src=""  style="max-width:70%" />
        </div>--%>
    </form>
</body>
</html>
