﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterWeb.master" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
        .auto-style1 {
            text-align: center;
            font-size: xx-large;
            color: #289aa1;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <p class="auto-style1">
        歡迎光臨峻富雲端物流運輸管理系統
    </p>
</asp:Content>

