﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LTMasterWeb.master" AutoEventWireup="true" CodeFile="LT_Index.aspx.cs" Inherits="LT_Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
        .auto-style1 {
            text-align: center;
            font-size: xx-large;
            color: #289aa1;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <p class="auto-style1">
        歡迎光臨全速配零擔運輸管理系統
    </p>
   
</asp:Content>

