﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LTMasterTrace.master" AutoEventWireup="true" CodeFile="LT_trace_1.aspx.cs" Inherits="LT_trace_1"   %>

<%@ Register Src="~/uc/uc_trace.ascx" TagPrefix="uc1" TagName="uc_trace" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div id="page-wrapper">
        <uc1:uc_trace runat="server" ID="uc_trace" />
    </div>
</asp:Content>

