﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="LTMasterDispatch.master.cs" Inherits="MasterDispatch" %>

<!DOCTYPE html>
<html lang="zh">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>峻富雲端物流管理-派車系統</title>
    <link rel="shortcut icon" href="images/mark.png" type="image/x-icon" />
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-style.css" rel="stylesheet">

    <!-- jQuery文件 -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/source/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="js/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="js/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" href="css/jquery.ui.datepicker.css">
    <%--<link rel="stylesheet" href="css/jquery-ui.css">--%>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Model_Base.js?"></script>
    <script src="js/StorageCurrentPage.js?"></script>
    <script src="js/datepicker-zh-TW.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.enter2tab.js"></script>
    <link href="js/chosen_v1.6.1/chosen.css" rel="stylesheet" />
    <script src="js/chosen_v1.6.1/chosen.jquery.js"></script>
    <link rel="stylesheet" href="css/simplePagination.css">
    <link rel="stylesheet" href="css/junfucss.css">
    <script src="js/jquery.simplePagination.js" type="text/javascript"></script>
    <script src="js/jquery.blockUI.js"></script>
    <link href="css/build.css" rel="stylesheet" />   


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript">
        $(function () {
            $(".date_picker").datepicker({
                dateFormat: 'yy/mm/dd',
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                defaultDate: (new Date()),  //預設當日
                beforeShow: function (input, inst) {
                    $("#ui-datepicker-div").removeClass("hidecalendar");//assets3_2
                }
            });
            $(".date_pickerYearMonth").datepicker(
                {
                    dateFormat: "yy/mm",
                    currentText: '當月',
                    closeText: '確定',
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    onClose: function (dateText, inst) {
                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }
                        if (isDonePressed()) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                            $(".date_pickerYearMonth").focusout();//Added to remove focus from datepicker input box on selecting date
                        }
                        if (inst["id"].indexOf("fee_date") > 0) {
                            GetZero();
                        }
                    },
                    beforeShow: function (input, inst) {
                        inst.dpDiv.addClass("month_year_datepicker");
                        if (inst["id"].indexOf("fee_date") > 0) {
                            inst.dpDiv.addClass("hidecalendar");
                        }
                        if ((datestr = $(this).val()).length > 0) {
                            year = datestr.substring(datestr.length - 4, datestr.length);
                            month = datestr.substring(0, 2);
                            //$(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                            //$(this).datepicker('setDate', new Date(year, month-1, 1));
                            $(".ui-datepicker-calendar").hide();
                        }
                    }
                });
        });
        $(document).ready(function () {
            $(".chosen-select").chosen({
                no_results_text: "My language message.",
                placeholder_text: "My language message.",
                search_contains: true,
                disable_search_threshold: 10
            });

            

            $("#side-menu").on('click', 'a', function (event) {
                Model_CurrentPage.Session.Set($(this).attr('data-ajax-page'));
            });


            (function () {
                //記憶目前開啟的頁面
                try {
                    var currentPage = Model_CurrentPage.Session.Get();
                } catch (e) {
                    Model_CurrentPage.Session.Set("");
                }
                if (currentPage != undefined) {
                    var a = $("#side-menu").find("li a[data-ajax-page = " + currentPage + "]");
                    //$("#side-menu li.active").removeClass("active");
                    $("#side-menu").find("li a[data-ajax-page = '" + currentPage + "']").addClass("active");
                    $("#activli").text(a.text());
                }
            })();

            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);

            function EndRequestHandler(sender, args) {
                 GetZero();
                $(".date_picker").datepicker({
                dateFormat: 'yy/mm/dd',
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                defaultDate: (new Date()),  //預設當日
                beforeShow: function (input, inst) {
                    $("#ui-datepicker-div").removeClass("hidecalendar");//assets3_2
                }
            });
                $(".date_pickerYearMonth").datepicker(
                {
                    dateFormat: "yy/mm",
                    currentText: '當月',
                    closeText: '確定',
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    onClose: function (dateText, inst) {
                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }
                        if (isDonePressed()) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                            $(".date_pickerYearMonth").focusout();//Added to remove focus from datepicker input box on selecting date
                        }
                        if (inst["id"].indexOf("fee_date") > 0) {
                            GetZero();
                        }
                    },
                    beforeShow: function (input, inst) {
                        inst.dpDiv.addClass("month_year_datepicker");
                        if (inst["id"].indexOf("fee_date") > 0) {
                            inst.dpDiv.addClass("hidecalendar");
                        }
                        if ((datestr = $(this).val()).length > 0) {
                            year = datestr.substring(datestr.length - 4, datestr.length);
                            month = datestr.substring(0, 2);
                            //$(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                            //$(this).datepicker('setDate', new Date(year, month-1, 1));
                            $(".ui-datepicker-calendar").hide();
                        }
                    }
                });
            }


        });
        function GetZero() {

        }
        function openNav() {
            document.getElementById("mySidenav").style.left = "0";
            document.getElementById("mainp").style.marginLeft = "200px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.left = "-200px";
            document.getElementById("mainp").style.marginLeft = "0";
        }
        function showBlockUIError(Str, Url = "") {
            $.blockUI({
                message: '<p><h1>' + Str + '<h1></p>',
                baseZ: 999999,
                css:
                    {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        //opacity: .5,
                        color: 'red',
                        width: '100%',
                        left: '0px'
                    }
            });
            if (Url != "") {
                setTimeout("location.href = '"+Url+"'", 1000);
            } else {
                setTimeout($.unblockUI, 1000);
            }
        }
    </script>

    <style type="text/css">
        .ui-datepicker select.ui-datepicker-month,
        .ui-datepicker select.ui-datepicker-year {
            color: black;
        }

        .ui-datepicker a {
            color: #0275d8;
        }

        .go-top {
            position: fixed;
            bottom: 2em;
            left: 2em;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 1em;
            padding: 0.5em;
            text-align: center;
            border-radius: 10px;
            z-index: 9999;
            display: none;
        }
        .hidecalendar table {
            display: none;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="templatemo-flex-row">
        d<div id="mySidenav" class="templatemo-sidebar">
            is<!-- 關選單 --><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa fa-chevron-left"></i>關閉選單</a>
             <header class="templatemo-site-header">
                 <a id="logo" runat ="server" href="index.aspx"><img src="images/lt_logo.png" alt="logo" width="200"></a>
            </header>
            <div class="profile-photo-container">
                <img src="images/profile-photo_9.png" alt="Profile Photo" class="img-responsive">
                <div class="profile-photo-overlay"></div>
            </div>
            <div class="login">
                <p>
                    <i class="fa fa-user"></i><asp:Literal ID="UserName" runat="server"></asp:Literal> 您好~ <a href="log_out.aspx" class="btn btn-danger pull-right">登出</a>
                </p>
            </div>
            <nav class="sidebar-collapse templatemo-left-nav">
                <ul class="nav" id="side-menu">
                    <asp:Literal ID="useritemlist" runat="server"></asp:Literal>                    
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <div id="mainp" class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                <div class="row">
                    <nav class="templatemo-top-nav col-lg-12 col-md-12">
                        <ul class="text-uppercase">
                            <!-- 開選單 -->
                            <li><a class="openicon pull-left" onclick="openNav()" title="開啟選單" alt="開啟選單"><i class="fa fa-chevron-right"></i></a></li>
                            <li id="D" runat ="server" visible ="false"  ><a  id="Dhref" runat ="server"   >
                                <img src="images/menu_1.png"><p>託運服務</p>
                            </a ></li>
                            <li id="T" runat ="server" visible ="false"><a  id="Thref" runat ="server" >
                                <img src="images/menu_6.png"><p>貨物追踨</p>
                            </a></li>
                            <li id="R" runat ="server" visible ="false"><a  id="Rhref" runat ="server"  >
                                <img src="images/menu_2.png"><p>報表管理</p>
                            </a></li>
                            <li id="C" runat ="server" visible ="false"><a  id="Chref" runat ="server"  >
                                <img src="images/menu_3.png"><p>客戶管理</p>
                            </a></li>
                            <li id="A" runat="server" visible="false"><a id="Ahref" runat="server" >
                                <img src="images/menu_7.png"><p>車輛管理</p>
                            </a></li>
                            <li id="F" runat ="server" visible ="false"><a  id="Fhref" runat ="server"  >
                                <img src="images/menu_4.png"><p>帳務管理</p>
                            </a></li>
                            <li id="B" runat ="server" visible ="false"><a  id="Bhref" runat ="server"  >
                                <img src="images/menu_9.png"><p>超商結帳</p>
                            </a></li>
                            <li id="E" runat ="server" visible ="false"><a  id="Ehref" runat ="server"  class="active">
                                <img src="images/menu_8.png"><p>派車系統</p>
                            </a></li>
                            <li id="S" runat ="server" visible ="false" ><a id="Shref" runat ="server" >
                                <img src="images/menu_5.png"><p>系統管理</p>
                            </a></li>
                            <li id="G" runat ="server" visible ="false" ><a id="Ghref" runat ="server" >
                                <img src="images/menu_10.png" alt =""><p>退貨派遣</p>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="templatemo-content-container">
                <!-- 路徑 -->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>派車系統</a></li>
                    <%--<li><a href="#">託運資料輸入</a></li>--%>
                    <li id="activli" class="active">一筆式託運單</li>
                </ol>
                <!-- 內容 -->
                <div class="templatemo-content-widget white-bg">
                    <form id="form1" runat="server">
                        <asp:ScriptManager ID="ScriptManager1" runat="server">
                        </asp:ScriptManager>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </form>
                    <!--templatemo-content-container end-->
                </div>

                
            </div>
        </div>
    </div>
    
</body>
</html>
