﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="palletlog.aspx.cs" Inherits="palletlog" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>峻富雲端物流管理</title>
    <link rel="shortcut icon" href="images/mark.png" type="image/x-icon" />
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="H1">棧板歸還記錄</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group form-inline">                                
                                <label>貨號：</label>
                                <asp:Label ID="lbcheck_number" runat="server"  class="form-control"></asp:Label>                              
                            </div>
                        </div>
                        <%--<table class="table table-striped table-bordered templatemo-user-table">
                            <tr class="tr-only-hide">
                                <th>NO</th>
                                <th>時間</th>
                                <th>回收板數</th>
                                <th>異動人員</th>
                            </tr>
                            <asp:Repeater ID="New_List" runat="server" >
                                <ItemTemplate>
                                    <tr>
                                        <td><%# Container.ItemIndex + 1 %></td>
                                        <td><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.return_date").ToString())%></td>
                                        <td><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.return_cnt").ToString())%></td>
                                        <td><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.uuser").ToString())%></td>
                                    </tr>
                                </ItemTemplate>
                            </asp:Repeater>
                            <% if (New_List.Items.Count == 0)
                                {%>
                            <tr>
                                <td colspan="4" style="text-align: center">查無棧板歸還記錄</td>
                            </tr>
                            <% } %>
                        </table>--%>

                        <table class="table table-striped table-bordered templatemo-user-table">
                            <tr class="tr-only-hide">
                                <th class="auto-style1">NO.</th>
                                <th class="auto-style1">作業時間</th>
                                <th class="auto-style1">作業</th>
                                <th class="auto-style1">站所</th>
                                <th class="auto-style1">到著/發送站</th>
                                <th class="auto-style1">件數</th>
                                <th class="auto-style1">班次代號</th>
                                <th class="auto-style1">狀態</th>
                                <th class="auto-style1">運輸方式</th>
                                <th class="auto-style1">註區</th>
                                <th class="auto-style1">員工</th>
                            </tr>
                            <asp:Repeater ID="New_List_02" runat="server">
                                <ItemTemplate>
                                    <tr>
                                        <td data-th="NO."><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.NO").ToString())%></td>
                                        <td data-th="作業時間"><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.scan_date").ToString())%></td>
                                        <td data-th="作業"><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.scan_name").ToString())%></td>
                                        <td data-th="站所"><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.supplier_name").ToString())%></td>
                                        <td data-th="到著/發送站"></td>
                                        <td data-th="件數">1</td>
                                        <td data-th="班次代號"></td>
                                        <td data-th="狀態"><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.status").ToString())%></td>
                                        <td data-th="運輸方式"></td>
                                        <td data-th="註區"></td>
                                        <td data-th="員工"><%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.driver_code").ToString())%>  <%#Server.HtmlEncode(DataBinder.Eval(Container, "DataItem.driver_name").ToString())%></td>                                        
                                    </tr>
                                </ItemTemplate>
                            </asp:Repeater>
                            <% if (New_List_02.Items.Count == 0)
                                {%>
                            <tr>
                                <td colspan="11" style="text-align: center">查無棧板歸還記錄</td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
