﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterTransport.master" AutoEventWireup="true" CodeFile="transport_print.aspx.cs" Inherits="transport_print" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <style>
    .PRINT{ width:774px; height:atuo; margin:0 auto; padding:10px;}
	.PRINT table{ width:100%;}
	img{ width:360px; height:350px; margin-bottom:10px; border:1px solid #fff;}
	.cScreen{margin-top:10px; }
    </style>
    <style type="text/css" media="print">
        /* 列印時隱藏 */
        .cScreen {  display: none;}
    </style>
<script>
function myFunction() {
    window.print();
}
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <div id="page-wrapper">
        <div class="row">
            <div class="text-center cScreen"><button class="btn btn-success"  onclick="myFunction()">列印</button></div>
<div class="PRINT">
  <table>
  <tr>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
  </tr>
  <tr>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
  </tr>
  <tr>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
    <td><img data-src="holder.js/100%x100%" data-holder-rendered="true"></td>
  </tr>
</table>
</div>
        </div>
    </div>
</asp:Content>

